@import "../../../../styles/main.scss";

.landing_cards_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: rem(32);

  @include breakpoint(large) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
