@import "../../../../styles/main.scss";

.landing_container {
  margin-top: rem(32);
  margin-bottom: rem(48);
  padding: 0 rem(16);

  @include breakpoint(medium) {
    margin-top: rem(48);
    padding: 0 rem(128);
  }
}
